---
import BlueSkyIcon from "../components/icon-buttons/BlueSkyIcon.astro";
import GmailIcon from "../components/icon-buttons/GmailIcon.astro";
import FileSaveRoundedIcon from "../components/icons/FileSaveRoundedIcon.astro";
import GithubIcon from "../components/icon-buttons/GithubIcon.astro";
import LinkedInIcon from "../components/icon-buttons/LinkedInIcon.astro";
import ProtonMailIcon from "../components/icon-buttons/ProtonMailIcon.astro";
import TwitterIcon from "../components/icon-buttons/TwitterIcon.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home" route="/">
	<main class="main">
		<div class="profile">
			<div>
				<h1>Hey there :D</h1>
			</div>
			<ul class="socials">
				<li>
					<a href="mailto:phauva@gmail.com" title="Gmail" aria-label="Gmail">
						<GmailIcon size="2.5rem" />
					</a>
				</li>
				<li>
					<a
						href="mailto:phauva@proton.me"
						title="Protonmail"
						aria-label="Protonmail"
					>
						<ProtonMailIcon size="2.5rem" />
					</a>
				</li>
				<li>
					<a
						href="https://github.com/Froidland"
						title="Github"
						aria-label="Github"
					>
						<GithubIcon size="2.5rem" />
					</a>
				</li>
				<li>
					<a
						href="https://www.linkedin.com/in/francisco-hauva/"
						title="Linkedin"
						aria-label="Linkedin"
					>
						<LinkedInIcon size="2.5rem" />
					</a>
				</li>
				<li>
					<a
						href="https://twitter.com/NotPanchowo"
						title="Twitter"
						aria-label="Twitter"
					>
						<TwitterIcon size="2.5rem" />
					</a>
				</li>
				<li>
					<a
						href="https://bsky.app/profile/pancho.moe"
						title="Bluesky"
						aria-label="Bluesky"
					>
						<BlueSkyIcon size="2.5rem" />
					</a>
				</li>
			</ul>
			<a
				href="https://url.pancho.moe/public_resume"
				title="Resume"
				class="button transition"
			>
				<FileSaveRoundedIcon size="2rem" /> Resume
			</a>
		</div>
	</main>
</Layout>

<style>
	.main {
		position: relative;
		min-height: calc(100dvh - var(--header-height) - var(--footer-height));
		max-width: calc(var(--main-width) + var(--gap) * 2);
		margin: auto;
		padding: var(--gap);
	}

	.profile {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: calc(
			100dvh - var(--header-height) - var(--footer-height) - (var(--gap) * 2)
		);
		text-align: center;
	}

	.socials {
		display: flex;
		column-gap: 12px;
		padding: 12px 0px;
	}

	h1 {
		font-size: 36px;
		font-weight: 700;
	}
</style>
