---
import FooterLink from "@/components/FooterLink.astro";
---

<footer
	class="m-auto max-w-3xl px-6 py-4.5 text-center text-[12px] leading-6 text-secondary"
>
	<p>
		&copy; 2025
		<FooterLink href="/" title="Home" aria-label="Home">Francisco Hauva</FooterLink>
		| Powered by
		<FooterLink href="https://astro.build/" title="Astro website" aria-label="Astro website"
			>Astro</FooterLink
		>
		and heavily inspired by
		<FooterLink
			href="https://github.com/adityatelange/hugo-PaperMod/"
			title="Hugo PaperMod repository"
			aria-label="Hugo PaperMod repository">PaperMod</FooterLink
		>. Source code available
		<FooterLink
			href="https://github.com/Froidland/pancho.moe"
			title="pancho.moe repository"
			aria-label="pancho.moe repository">here</FooterLink
		>.
	</p>
</footer>
