---
interface Props {
	route?: string;
}

const { route } = Astro.props;

function getActiveClass(routeCondition: string) {
	if (routeCondition === route) {
		return "active";
	}

	return "";
}
---

<header>
	<nav class="nav">
		<div class="title">
			<a href="/">
				<span class="title">Francisco Hauva</span>
			</a>
		</div>
		<ul class="links">
			<li>
				<a href="/">
					<span class={getActiveClass("/")}>Home</span>
				</a>
			</li>
			<li>
				<a href="/projects">
					<span class={getActiveClass("/projects")}>Projects</span>
				</a>
			</li>
		</ul>
	</nav>
</header>

<style>
	.nav {
		display: flex;
		justify-content: space-between;
		max-width: calc(var(--nav-width) + var(--gap) * 2);
		line-height: calc(var(--header-height));
		height: var(--header-height);
		margin: auto;
		padding: 0px var(--gap);
	}

	.links {
		display: flex;
		column-gap: var(--gap);
	}

	.links li a {
		font-size: 16px;
	}

	.active {
		font-weight: 500;
		border-bottom: 2px solid;
	}

	.title {
		font-weight: 700;
		font-size: 24px;
	}
</style>
