---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

interface Props {
	title: string;
	route?: string;
}

const { title, route } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Francisco Hauva | {title}</title>
	</head>
	<body class="dark">
		<Header route={route} />
		<slot />
		<Footer />
	</body>
</html>
<style is:global>
	@import url(/public/reset.css);

	.dark {
		--theme: hsl(220, 5%, 12%);
		--entry: hsl(240, 5%, 19%);
		--primary: hsl(240, 1%, 86%);
		--secondary: hsl(210, 1%, 61%);
		--tertiary: hsl(220, 2%, 26%);
		--content: hsl(240, 1%, 77%);
		--hljs-bg: hsl(240, 5%, 19%);
		--hljs-bg-hover: hsl(240, 5%, 25%);
		--code-bg: hsl(231, 6%, 23%);
		--border: hsl(0, 0%, 20%);
	}

	:root {
		--gap: 24px;
		--content-gap: 20px;
		--nav-width: 1024px;
		--main-width: 720px;
		--header-height: 60px;
		--footer-height: 60px;
		--radius: 5px;

		.transition {
			transition-property: all;
			transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
			transition-duration: 300ms;
		}

		.button {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			background-color: var(--hljs-bg);
			color: var(--primary);
			padding: 6px 14px;
			font-weight: 500;
			border-radius: var(--radius);
		}

		.button:hover {
			background-color: var(--hljs-bg-hover);
		}

		.icon-button {
			background-color: var(--hljs-bg);
			border-radius: var(--radius);
			padding: 5px;
		}

		.icon-button:hover {
			background-color: var(--hljs-bg-hover);
		}
	}

	body {
		background: var(--theme);
		font-family: "-apple-system", "BlinkMacSystemFont", "segoe ui", "Roboto",
			"Oxygen", "Ubuntu", "Cantarell", "open sans", "helvetica neue",
			"sans-serif";
		font-size: 18px;
		line-height: 1.6;
		word-break: break-word;
		color: var(--primary);
	}
</style>
